body {
   cursor: url(crayon-png-cursor.png), pointer;
}
svg{
max-width: 100%;
}

.girl{
  top: 10%;
  left: 10%;
  position: absolute;
}


.face.active{
    fill: #FF9781;
}

.hair.active{
      fill: black;
}

.clothes.active{
      fill: purple;
}

.bodyparts.active{
      fill: #FF9781;
}

.eyes.active{
      fill: white;
}

.pencil{
  position: absolute;
  top: 30%;
  right: 30%;
}
.lead.active{
      fill: grey;
}
.wood.active{
      fill: yellow;
}
.eraser.active{
      fill: pink;
}




.thought-bubble{
  position: absolute;
  top: 120%;
  right: 10%;
}

.big.active{
      fill: darkblue;
}

.medium.active{
      fill: blue;
}

.small.active{
      fill: lightblue;
}

.computer{
  position: absolute;
  top: 180%;
  left: 10%;
}

.outer.active{
      fill: orange;
}
.stand.active{
      fill: maroon;
}
.keyboard.active{
      fill: orange;
}
.mouse.active{
      fill: red;
}
.inner.active{
      fill: red;
}

.flower{
 position: absolute;
 top: 220%;
 right: 10%;
}
.petals.active{
      fill: #FF00F7;
}
.pollen.active{
      fill: pink;
}
.stem.active{
      fill: brown;
}
.leaves.active{
      fill: green;
}

.extraleaf{
  position: absolute;
  top: 210%;
  right: 40%;
}

.otherleaf.active{
      fill: darkgreen;
}


.first {
  position:absolute;
  top:70%;
  right: 55%;
  width:40%;
  padding: 10px;
  text-align: center;
  font-family: 'avenir';
  font-weight: bold;
  font-size: 20px;
  background-color: yellow;
}


.second {
  position:absolute;
  top:145%;
  right: 15%;
  width:40%;
  padding: 10px;
  text-align: center;
  font-family: 'avenir';
  font-weight: bold;
  font-size: 20px;
  background-color: yellow;
}

.third {
  position:absolute;
  top:190%;
  right: 55%;
  width:40%;
  padding: 10px;
  text-align: center;
  font-family: 'avenir';
  font-weight: bold;
  font-size: 20px;
  background-color: yellow;
}

.fourth {
  position:absolute;
  top:270%;
  right: 8%;
  width:40%;
  padding: 10px;
  text-align: center;
  font-family: 'avenir';
  font-weight: bold;
  font-size: 20px;
  background-color: yellow;
}
