body{
  width: 50%;
}
h1{
  font-size: 35pt;
  font-family: 'Oswald', sans-serif;
  color: pink
}
.left-half {
  background-color: white;
  position: absolute;
  left: 0px;
  width: 50%;
  text-align: center;
}

.right-half {
  background-color: black;
  position: absolute;
  right: 0px;
  width: 50%;
  text-align: center;
}

#time {
  font-size: 30pt;
  font-family: 'Oswald', sans-serif;
  align-content: center;
  color: black;
  padding: 3px;
}

#time2 {
  font-size: 30pt;
  font-family: 'Oswald', sans-serif;
  align-content: center;
  color: white;
  padding: 3px;
}

div.container {
    width: 100%;
}

.container1 {
  position: absolute;
  width: 50%;
  margin: 0 auto;
}
.images{
  position: relative;

}

.image{
  border: 13px solid pink;
  max-width: 300px;
  position: relative;
  -webkit-filter:  saturate(8) contrast(5) grayscale(4) invert(1) brightness(1);
  filter: saturate(8) contrast(5) grayscale(4) invert(1) brightness(1);
}

.image:hover {
  -webkit-filter:  saturate() contrast() ;
    filter: saturate() contrast() ;
  }

  @media only screen and (max-width: 900px) {
      .image {
          max-width: 150px;
          border: 10px solid pink;
      }
     #time, #time2{
        font-size: 25pt
      }

      h1{
        font-size: 20pt
      }
  }

@media only screen and (max-width: 700px) {
    .image {
        max-width: 100px;
        border: 8px solid pink;
    }
   #time, #time2{
      font-size: 15pt
    }

    h1{
      font-size: 10pt
    }
}
