body{
  width: 50%;
}
.left-half {
  background-color: white;
  position: absolute;
  left: 0px;
  width: 50%;
  text-align: center;
}

.right-half {
  background-color: black;
  position: absolute;
  right: 0px;
  width: 50%;
  text-align: center;
}

#time {
  font-size: 30pt;
  font-family: 'Oswald', sans-serif;
  align-content: center;
  color: black;
  padding: 3px;
}

#time2 {
  font-size: 30pt;
  font-family: 'Oswald', sans-serif;
  align-content: center;
  color: white;
  padding: 3px;
}

div.container {
    width: 100%;
}

.container1 {
  position: absolute;
  width: 50%;
  margin: 0 auto;
}

.image{
  border: 10px solid pink;
  max-width: 300px;
  position: relative;
}


.hover-images image.active,
.hover-images image:hover {
  display: block;
}
