
h1{
  font-size: 35pt;
  font-family: 'Oswald', sans-serif;
  color: pink;
  position: relative;
  text-align: center;
  z-index: 10;

}
.left-half {
  background-color: white;
  position: absolute;
  left: 0px;
  width: 50%;
  text-align: center;
}

.right-half {
  background-color: black;
  position: absolute;
  right: 0px;
  width: 50%;
  text-align: center;
  }

#time {
  font-size: 30pt;
  font-family: 'Oswald', sans-serif;
  align-content: center;
  color: black;
  padding: 3px;
  position: relative;
}

#time2 {
  font-size: 30pt;
  font-family: 'Oswald', sans-serif;
  align-content: center;
  color: white;
  padding: 3px;
  position: relative;
}

.small{
  width: 50px
}

.images{
  position: relative;
  float: center;

}

.image{
  border: 13px solid pink;
  max-width: 300px;
  position: relative;
  -webkit-filter:  saturate(8) contrast(5) grayscale(4) invert(1) brightness(1);
  filter: saturate(8) contrast(5) grayscale(4) invert(1) brightness(1);
  display: none;

}

.image:hover {
  -webkit-filter:  saturate() contrast() ;
    filter: saturate() contrast() ;
  }

  @media only screen and (max-width: 800px) {
      .image {
          max-width: 150px;
          border: 10px solid pink;
      }
      .small{
        width: 30px
      }
     #time, #time2{
        font-size: 25pt
      }

      h1{
        font-size: 20pt
      }
  }

@media only screen and (max-width: 500px) {
    .image {
        max-width: 60px;
        border: 0px solid pink;
        -webkit-filter:  saturate() contrast() ;
        filter: saturate() contrast() ;
        float: center;
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
    }
    .small{
      width: 50px
    }
   #time, #time2{
      font-size: 15pt
    }

    h1{
      font-size: 40pt;
      position: fixed;

    }
    .left-half {
      background-color: white;
      position: absolute;
      top: 0px;
      width: 100%;
      height: 50%;
      text-align: center;
    }
    .right-half {
      background-color: black;
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 50%;
      text-align: center;
    }
}
