section {
  color: #fff;
  text-align: center;
}

div {
  height: 100%;
}

article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
}
.container {
  display: table;
  width: 100%;
}

.left-half {
  background-color: white;
  position: absolute;
  left: 0px;
  width: 50%;
}

.right-half {
  background-color: black;
  position: absolute;
  right: 0px;
  width: 50%;
}

.time {
  font-size: 20pt;
  font-family: 'avenir';
  align-content: center;
  color: red;
}
